/* Main title padding */
@media screen and (min-width: 737px) {
	#nav+#main {
		padding-top:4.25em;
	}
}


/* Remove content split */
p.no-split {
	columns: 1;
}


/* Make hug-server statistics responsive */

@media screen and (max-width: 1279px) {

	.hug-statistics {
		display: block;
		width: 30em;
		max-width: 100%;
		margin: 0 auto 2em auto;
	}

		.hug-statistics li:first-child {
			border-bottom-left-radius: 0;
			border-top-right-radius: 8px;
		}

		.hug-statistics li:last-child {
			border-top-right-radius: 0;
			border-bottom-left-radius: 8px;
		}

		.hug-statistics li .icon:before {
			font-size: 3.75rem;
		}

		.hug-statistics li strong, .hug-statistics li b {
			font-size: 2.5em;
		}

}

@media screen and (min-width: 1280px) and (max-width: 1680px) {
	.hug-statistics {
		margin: 0 auto 0 auto;
	}
}

/* Hug Server Blog */

.double-image {
	margin: auto auto 10.5em auto;
}

#emb_i1g5en {
	background-color: RGBA(255,255,255,0.2);
}

.centre {
	display: block;
	margin: 2em auto 2em auto;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	text-align: center;
}

/* Dark theme theming rules */

body.force-theme-dark {
	background-color: #230313;
	background-image: url("images/overlay.png"), -moz-linear-gradient(45deg, #230313 15%, #640032 85%);
	background-image: url("images/overlay.png"), -webkit-linear-gradient(45deg, #230313 15%, #640032 85%);
	background-image: url("images/overlay.png"), -ms-linear-gradient(45deg, #230313 15%, #640032 85%);
	background-image: url("images/overlay.png"), linear-gradient(45deg, #230313 15%, #640032 85%);
}


#nav.force-theme-dark {
	background-color: #230313;
	color: LavenderBlush;
}

#nav.force-theme-dark a:hover {
	color: white;
}

#main.force-theme-dark {
	background-color: #230313 !important;
	color: LavenderBlush;
}


#nav.force-theme-dark h2 {
	color: LavenderBlush;
}

#main.force-theme-dark a {
	color: white;
}

#main.force-theme-dark p a {
	color: crimson;
}

#main.force-theme-dark .button.primary {
	background-color: #a5125b !important;
}

#main.force-theme-dark .button {
	color: white !important;
}

#main.force-theme-dark h1 {
	color: LavenderBlush;
}

#main.force-theme-dark h2 {
	color: LavenderBlush;
}

#main.force-theme-dark h3 {
	color: LavenderBlush;
}

#main.force-theme-dark h4 {
	color: LavenderBlush;
}

#main.force-theme-dark > .main {
	border-top: solid 1px #53032b;
}

#main.force-theme-dark b {
	color: white;
}

#main.force-theme-dark strong {
	color: white;
}

#nav.force-theme-dark ul li a.active {
	color: black !important;
}

/* Toggle theme buttons */

.toggle-theme-light {
  display: none;
  right: 1%;
  top: 1%;
  min-width: 4.5em;
  font-size: 100%;
}

.toggle-theme-dark {
  right: 1%;
  top: 1%;
  min-width: 4.5em;
  font-size: 100%;
}

#nav {
	justify-content: space-between;
	align-items: center;
}

@media screen and (min-width: 1700px) {
	.toggle-theme-light {
	  position: fixed;
	}

	.toggle-theme-dark {
	  position: fixed;
	}
}

body.force-theme-dark .toggle-theme-light {
  display: inline-block !important;
  }
body.force-theme-dark .toggle-theme-dark {
  display: none !important;
}

body.force-theme-light .toggle-theme-light {
  display: none !important;
}

body.force-theme-light .toggle-theme-dark {
  display: inline-block !important;
  background-color: revert-layer;
}


@media screen and (max-width: 980px) {
	.short-icons {
		margin: 0 0 -2em 0;
	}

	#invisible-header {
		display: none;
	}
}

/* Tooltip container */
.tooltip {
 position: relative;
}

/* Tooltip text */
.tooltip .tooltiptext {
 visibility: hidden;
 /*width: 10vw;*/
 background-color: #a5125b;
 color: LavenderBlush;
 text-align: center;
 padding: 5px 5px;
 border-radius: 6px;

 /* Position the tooltip text */
 position: absolute;
 z-index: 1;
 bottom: 125%;
 left: 50%;
 margin-left: -60px;

 /* Fade in tooltip */
 opacity: 0;
 transition: opacity 0.3s;
 transition-delay: 0.5s;
 transition-timing-function: ease-in;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
 content: "";
 position: absolute;
 top: 100%;
 left: 50%;
 margin-left: -5px;
 border-width: 5px;
 border-style: solid;
 border-color: #a5125b transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
 visibility: visible;
 opacity: 1;
}


.attribution {
	position: static;
	padding-left:1%;
	padding-bottom:0.8%;
	font-size: 1.5vh !important;
	opacity: 0.5;
}

body {
	font-size: 14pt;
	font-weight: reset;
}

p a {
	@include vendor('transition', (
		'color #{_duration(transition)} ease',
		'border-bottom #{_duration(transition)} ease'
	));
	text-decoration: none;
	border-bottom: none;
	color: #632844;
	background-color: #a98f9e26;
  	padding: 0.125rem 0.5rem;
	border-radius: 5px;
	font-weight: _font(weight-bold);


	&:hover {
		border-bottom-color: transparent;
	}
}

#nav ul li a {
	background-color: inherit;
}

.copyright a {
	color: rgba(255,255,255,0.65);
	background-color: inherit;
}

/* Fancy underline */
/*.icon {
	background-image: none;
}

#nav ul li a {
	background-image: none;
}

.button {
	background-image: none;
}

#main.force-theme-dark a {
	--line: RGBA(255, 255, 255, 0.5);
}

#main a {
	--line: RGBA(165, 18, 91, 0.5);
	border-bottom: none;
}

a {
	--line: RGBA(255, 255, 255, 0.5);
	border-bottom: none;
}

a svg {
	background-image: none;
}

a {
	background-image: linear-gradient(0deg, var(--line) 0%, var(--line) 100%);
	background-position: 100% 100%;
	background-repeat: no-repeat;
	background-size: var(--background-size, 100%) 1px;
	transition: background-size 0.2s linear var(--background-delay, 0.15s);
	line-height: 20px;
	transform: translateZ(0);
}

a svg {
	opacity: 50%;
	vertical-align: top;
	display: inline;
	line-height: 1;
	width: 13px;
	height: 20px;
	position: relative;
	left: -2px;
	top: 0.3em;
	fill: none;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-width: 1px;
	stroke: var(--line);
	stroke-dasharray: 7.95 30;
	stroke-dashoffset: var(--stroke-dashoffset, 46);
	transition: stroke-dashoffset var(--stroke-duration, 0.15s) var(--stroke-easing, linear) var(--stroke-delay, 0s);
}

a:hover {
	--background-size: 0%;
	--background-delay: 0s;
	--stroke-dashoffset: 26;
	--stroke-duration: .3s;
	--stroke-easing: cubic-bezier(0.3, 1.5, 0.5, 1);
	--stroke-delay: .195s;
}

html {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}

* {
	box-sizing: inherit;
}

*:before, *:after {
	box-sizing: inherit;
}
*/

.photo-gallery {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: center;
}

.image.fit.photo {
	flex: 1;
	min-width: 35%;
	position: relative;
	margin-right: 1em;
}

#main > .main.no-top-padding {
	padding: 0em 1em 5em 1em;
}

#main-logo {
	display: block;
	/*margin: 0 auto 1rem auto;*/
	height: calc(0.25rem * 10);
}

.cards {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: center;
	gap: 1em;
	margin: 2rem 0;
}

.card {
	text-align: left;
	flex: 1;
	position: relative;
	background: #fff;
	width: 32%;
	border-radius: 0.6em;
	overflow: hidden;
	cursor: pointer;
	box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25),
		0 8px 16px -8px hsla(0, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
	transition: all ease 200ms;
}

@media screen and (max-width: 570px) {
	.card {
		min-width: 100%;
	}
}


.card-big {
	flex-basis: 40%;
}

.card:hover {
	transform: scale(1.03);
	box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12),
		0 8px 32px -8px hsla(0, 0%, 0%, 0.14), 0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
}

.card a {
	border-bottom: none;
}

.card img {
	width: 100%;
	height: 15rem;
	object-fit: cover;
	border-radius: 0px;
}

.card video {
	height: 15rem;
	width: 100%;
	object-fit: cover;
	border-radius: 5px;
}

.post-content video {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.card h2 {
	color: #222;
	margin-top: -1rem;
	line-height: 1.4;
	font-size: 1.3em;
	font-weight: 500;
	transition: all ease-in 100ms;
}

.card h5 {
	position: absolute;
	bottom: 0;
	color: #bbb;
	font-weight: 700;
	font-size: 0.7em;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	text-align: left;
}

#main .card .card-body h2 {
	color: #636363;
}

#main .card .card-body h5 {
	margin-top: 1rem;
	margin-bottom: 1.2em;
}

#main.force-theme-dark .card {
	background-color: #351223;

	& .card-body {
		h2 {
			color: LavenderBlush;
		}

		h5 {
			color: LavenderBlush;
		}

		p {
			color: LavenderBlush;
		}
	}
}

ul.post-tags li {
	display: inline;
	font-size: 0.8em;
}

#breadcrumbs {
	display: inline;
	padding-left: 0;

	li {
	display: inline;
	padding-left: 0;
	}
}

.grid {
	margin: 0 auto;
	width: 100% !important;
}

.grid-item {
  float: left;
  /* vertical gutter */
  margin-bottom: 20px;
}

#content p img {
	max-width: 100%;
}

.microblog_conversation { 
	border-top: solid lightgray 1px;
	padding: 5px;
}

.h-card {
	border-bottom: none;
}

img {
	max-width: 100%;
	border-radius: 5px;
}

#footer-logo {
	vertical-align:middle;
}

#header.alt {
	padding: 1.5em 0em 0em 0em;
}

.syndication {
	float: right;
	padding-right: 0.5em;
}

.post-content img {
	height: auto;
}

.card .bluesky-embed {
	margin-left: -10px;
	width: max-content !important;
	height: 200px;
	overflow: scroll;
}

.card h2 {
	margin-top: 0.5em;
	margin-left: 0.5em;
	margin-right: 0.5em;
}

.card-body p {
	margin: 0;
}

.card-body .e-content {
	padding-top: 0.5em;
}


.card-body .e-content p {
	padding-left: 0.8em;
	padding-right: 0.8em;
}

.card-body .e-content p img {
	border-radius: 5px;
}


.card-body .p-summary p img {
	border-radius: 5px;
}

.p-summary p {
	padding-left: 0.8em;
	padding-right: 0.8em;
}

.p-summary a {
	color: unset;
	background-color: none;
}

.card-body .e-content img {
	max-width: inherit;
}

.card-body .post-date {
	padding-left: 0.8em;
}

.card-body {
	padding-bottom: 0.5em;
}

#webmentions img { 
	max-height: 3em; 
	max-width: 3em;
	margin-right: -3ex;
	margin-bottom: -0.5ex;
	border-radius: 100%;
	outline: white solid 2px;
	margin-left: -1em;
	pointer-events: all;
}

.source {
	font-size: 120%;
	padding-left: 0.5em;
}

.comments li {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.text {
	display: block;
	width: 100%;
}

.microblog  {
	display: none;
}

iframe {
   height: revert-layer;
}

@media screen and (max-width: 736px) {
	#nav {
		display: inline-flex;
		position: relative;
		max-width: 100%;
		width: 100%;
	}

	#nav.alt {
		width: 100%;
		max-width: calc(100% - 2em);
	}

	#main {
		border-radius: 0;
	}
}

@media screen and (max-width: 360px) {
	/* Custom bugfix: navbar too small */
	#nav.alt {
		max-width: 100%;
	}
}

@media screen and (min-width: 480px) and (max-width: 736px) {
	/* Custom bugfix: navbar too big */
	#nav.alt {
		max-width: calc(100% - 4em);
	}
}

.reaction {
	text-wrap: nowrap;
}


#webmentions .reaction:hover {
	z-index: 10;
	position: relative;
}

/* https://seia.js.org/ */
#webmentions img:hover {
	outline: #640032 solid 2px;
	transition-duration: 150ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-property: color, background-color, border-color, outline-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
}

.reaction {
	pointer-events: none;
}

.microblog_post {
	display: none;
}

.photos-grid-item {
	border-radius: 5px;
	height: 300px;
	width: 300px;
}

.nav-heading {
	/*font-size: 1.125rem;*/
	margin: 0 0 0.5em 0;
}

#hidden-items {
	display: contents;
}

@media screen and (max-width: 736px) {
	#hidden-items {
		display: none;
	}
}

#breadcrumbs {
	vertical-align: middle;
}

#nav ul {
	display: inline-flex;
	align-items: center;
	flex-wrap: wrap;
}

video {
	width: 100%;
	height: auto;
}

#nav #breadcrumb-special {
	padding: 0 1.25em 0 0;
}

.logo {
	margin: 0 0 0.5em 0;
}

.nav-heading {
	white-space: nowrap;
}

@media screen and (max-width: 400px) {
	.nav-heading {
		font-size: 6.5vw;
	}
}

/* https://www.webbae.net/posts/the-brutally-honest-guide-to-building-better-cards */ 


/* Expand link hitbox over whole card */
.card_title::before {
  content: " ";
  position: absolute;
  inset: 0;
  z-index: 1;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 0.47em;
  transition: border-color 200ms;
}

/* Indicate that card is interactive */
.card_title:hover::before,
.card_title:focus-visible::before {
  border-color: var(--red);
}

.card_title:focus {
  outline: none;
}

.card_title {
	display: block;
	margin-top: 0.5em;
	margin-left: 0.5em;
	margin-right: 0.5em;
	color: #636363;
	line-height: 1.4;
	font-size: 1.3em;
	font-weight: 500;
	transition: all ease-in 100ms;
}

.card-body a {
  /*  These properties ensure it's clickable and remove default focus state  */
  z-index: 2;
  outline: none;
}

.e-content a {
	position: relative;
}

.p-summary a {
	position: relative;
}

.card-body a:hover,
.card-body a:focus-visible {
  border-color: var(--red);
}

.card_title:empty {
	margin-top: 0;
}


.statuslol {
	width: 16em;
	align-items: flex-end;
}

.statuslol_emoji_container {
	display: flex;
}

.statuslol_content {
	display: flex;
	flex-direction: column;
}

.statuslol_content p {
	margin: 0;
}

.spotlight .image {
	margin-bottom: 2em;
}

@media screen and (max-width: 980px) {
	.statuslol {
		margin-bottom: 2em;
	}
}

@media screen and (min-width: 980px) {
	.statuslol {
		margin-left: 4em;
	}
}
