<footer id="footer">
  <section>
    <div>
    <h2> <img width="30px" id="footer-logo" alt="An abstract logo which shows three sprinkles, like the sprinkles on a cake." src="/images/sprinkles/vector/sprinkles.svg">       	
      {{ partial "footer_breadcrumbs.html" . }}
    </h2>
    
    <p>You've reached the bottom! Here's where you can find me around on the internet:
      {{ if .Site.Params.footer.social_list.enable }}
      <ul class="icons">
          <li><a href="https://snuggle.link/mastodon" class="icon alt" rel="me">{{ partial "icon.html" "mastodon" }}<span class="label">@snuggle@tech.lgbt Mastodon</span></a></li>
          <li><a href="https://snuggle.link/bluesky" class="icon alt" rel="me">{{ partial "icon.html" "bluesky" }}<span class="label">@snugg.ie Bluesky</span></a></li>
          <li><a href="https://snuggle.link/threads" class="icon alt" rel="me">{{ partial "icon.html" "threads" }}<span class="label">@snugg.ie Threads</span></a></li>
          <li><a href="https://snuggle.link/github" class="icon alt" rel="me">{{ partial "icon.html" "github" }}<span class="label">@snuggle GitHub</span></a></li>
      </ul>
    {{ end }}
    <section id="intro" class="main h-card">
      <div class="spotlight">
        <div style="display: none;">
          <a class="u-url" style="display: none;" href="https://snugg.ie"></a>
          <span class="p-name">Evie Snuggle</span>
          <span class="p-given-name">Evie</span>
          <span class="p-family-name">Snuggle</span>
          <span class="p-nickname">snuggle</span>
          <a class="u-email" href="mailto:test@example.com"></a>
          <div class="p-country-name">United Kingdom</div>
          <div class="p-category">technology</div>
          <img class="u-logo" alt="An abstract logo which shows three sprinkles, like the sprinkles on a cake." src="/images/sprinkles/vector/sprinkles.svg"/>
        </div>
      </div>
    </section>

  </section>

  <section>
    <h2 style="opacity: 0;"> <img width="30px" height="30px">       	
      <ul id="breadcrumbs">
        <li></li>
    </ul>
    </h2>
    <p>Subscribe to my newsletter!</p>
    <form method="POST" action="https://micro.blog/users/subscribe/193272">
      <input style="max-width: 18em;" type="text" name="email" placeholder="Your email address"> 
      <input type="submit" style="margin-top: 1em;" value="Subscribe">
    </form>
  </section>
  
  {{ if .Site.Params.footer.copyright.enable }}
  
  <p class="copyright"><img width="30px" id="footer-logo" alt="An abstract logo which shows three sprinkles, like the sprinkles on a cake." src="/images/sprinkles/vector/sprinkles.svg"><br>
    <a href="https://snugg.ie/feed.xml">RSS</a> - <a href="https://snugg.ie/feed.json">JSON</a><br><a href="https://xn--sr8hvo.ws/previous">←</a>
    <a href="https://xn--sr8hvo.ws">🕸💍</a> 
    <a href="https://xn--sr8hvo.ws/next">→</a><br></p>
  {{ end }}

</footer>
