<section id="intro" class="main h-card">
  <div class="spotlight">
    <div class="content">
      <header class="major">
        <h2 class="greeting">Hey there! It&rsquo;s <span class="sparkle-name">{{ .Site.Params.author.given_name | default "Evie" }}</span> 🐄</h2>
      </header>
      <p class="p-summary p-note">{{ .Site.Params.intro.description | markdownify }}</p>
      <ul class="actions">
      	<li style="padding: 0;">
      		  {{ partial "status-update.html" }}
      	</li>
      	<br>
        {{range $button := .Site.Params.intro.action }}
          <li style="padding: 0;">
            <a href="{{ $button.href }}" class="button {{ $button.customClass }}">{{ $button.buttontext }}</a>
          </li>
        {{ end }}
      </ul>
    </div>
    {{ if .Site.Params.intro.image }}
    <div style="display: flex; flex-direction: column; align-items: center;">
      <span class="image"><picture>  <img class="u-photo" src="{{ .Site.Params.intro.image }}" alt="Evie Snuggle's portrait with a garden behind" /></picture></span>
	</div>
    {{ end }}
    <div style="display: none;">
      <a class="u-url" style="display: none;" href="https://snugg.ie"></a>
      <span class="p-name">Evie Snuggle</span>
      <span class="p-given-name">Evie</span>
      <span class="p-family-name">Snuggle</span>
      <span class="p-nickname">snuggle</span>
      <a class="u-email" href="mailto:test@example.com"></a>
      <div class="p-country-name">United Kingdom</div>
      <div class="p-category">technology</div>
      <img class="u-logo" alt="An abstract logo which shows three sprinkles, like the sprinkles on a cake." src="/images/sprinkles/vector/sprinkles.svg"/>
    </div>
  </div>
</section>
