<section id="intro" class="main h-card">
  <div class="spotlight">
    <div class="content">
      <header class="major">
        <h2 class="p-name">Hey there! Welcome to my blog.</h2>
      </header>
      <p class="p-summary p-note">{{ .Site.Params.intro.description | markdownify }}</p>
      <ul class="actions">
        {{range $button := .Site.Params.intro.action }}
          <li>
            <a href="{{ $button.href }}" class="button {{ $button.customClass }}">{{ $button.buttontext }}</a>
          </li>
        {{ end }}
      </ul>
    </div>
    {{ if .Site.Params.intro.image }}
    <div style="display: flex; flex-direction: column; align-items: center;">
      <span class="image"><picture>  <source srcset="/avatar.webp" type="image/webp"><source srcset="/avatar.jpg" type="image/jpeg"><img class="u-photo" rel="preload" src="{{ .Site.Params.intro.image }}" alt="Evie Snuggle's portrait with a garden behind" /></picture></span>
     <script src="https://status.lol/snuggle.js?time&link&fluent&pretty"></script>
	</div>
    {{ end }}
    <div style="display: none;">
      <a class="u-url" style="display: none;" href="https://snugg.ie"></a>
      <span class="p-name">Evie Snuggle</span>
      <span class="p-given-name">Evie</span>
      <span class="p-family-name">Snuggle</span>
      <span class="p-nickname">snuggle</span>
      <a class="u-email" href="mailto:test@example.com"></a>
      <div class="p-country-name">United Kingdom</div>
      <div class="p-category">technology</div>
      <img class="u-logo" alt="An abstract logo which shows three sprinkles, like the sprinkles on a cake." src="/images/sprinkles/vector/sprinkles.svg"/>
    </div>
  </div>
</section>
