<a href="{{ .Permalink }}" class="post-date u-url"><time class="dt-published" datetime="{{ .Date.Format "2006-01-02 15:04:05 -0700" }}">{{ .Date.Format "Jan 2, 2006" }}</time> ∞</a>
{{ if or ( .Params.bluesky ) ( .Params.mastodon ) (.Params.threads) }}
<span class="syndication">
	{{ if .Params.mastodon.id }}
	<a class="u-syndication icon" aria-label="View on Mastodon" href="https://tech.lgbt/@Snuggle/{{ ( print .Params.mastodon.id ) | safeHTMLAttr }}" >{{ partial "icon.html" "mastodon" }}</a>
	{{ end }}
	{{ if .Params.bluesky.url }}
	<a class="u-syndication icon" aria-label="View on Bluesky" href='{{ replaceRE "at://(.*)/(.*)/(.*)" "https://bsky.app/profile/snugg.ie/post/$3" .Params.bluesky.url }}' >{{ partial "icon.html" "bluesky" }}</a>
	{{ end }}
	{{ if .Params.threads.url }}
	<a class="u-syndication icon" aria-label="View on Threads" {{ printf "href=%q" .Params.threads.url | safeHTMLAttr }} >{{ partial "icon.html" "threads" }}</a>
	{{ end }}
</span> 
{{ end }}